<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Portafolio</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">ABOUT</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">MY SKILLS</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Vista previa -->
      <section class="main__home home" id="home">
        <h1 class="home__title">Mariana Lai Sánchez</h1>
        <p class="home__subtitle">Web Developer | Python Programmer (Beginner, currently learning)</p>
      </section>
      <!-- Acerca de mí -->
      <section class="main__about about" id="about">
        <h2 class="about__title">ABOUT ME</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            Me llamo Mariana Lai Sánchez, soy estudiante y tengo una gran pasión por la tecnología. Mi interés por la informática comenzó desde temprana edad, lo que me llevó a explorar la programación. He adquirido conocimientos básicos en este campo, comenzando con un curso de Python básico, y actualmente continúo profundizando en este lenguaje.
            <br> 
            <br>Además de la programación, tengo un gran interés en la astronomía y la biología. Me encanta el tema de la exploración del universo, mientras que la biología despierta mi interés por los seres vivos y los procesos naturales que los regulan.
            <br>
            <br>Soy una persona curiosa, con habilidades de trabajo en equipo, comunicación efectiva y aprendizaje autónomo. Disfruto colaborando con otros para encontrar soluciones creativas.
          </p>
          <img
            class="info-block__img"
            src="../static/img/Photo.JPG"
            alt="me"
            width="250"
            height="250"
          />
        </div>
      </section>
      <!-- Sección de competencias -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">MY SKILLS</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/python.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_python" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/discord.png"
                alt="discord"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_discord" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/html.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_html" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/db.webp"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_db" value="SHOW PROJECT">
            </li>
          </ul>
        </form>
      {% if button_python%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/python-project.png" alt="project" width="500">
              <a class="project__link" href="https://github.com/Marilaisanchez/CALCULADORA-ENERGETICA.git">Abierto en GitHub</a>
          </div>
      {% endif %}
      {% if button_discord%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/python-discord.png" alt="project" width="500">
              <a class="project__link" href="https://github.com/Marilaisanchez/Bot-discord.git">Abierto en GitHub</a>
          </div>
      {% endif %}
      {% if button_html%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/python-html.png" alt="project" width="500">
              <a class="project__link" href="https://github.com/Marilaisanchez/Diseno-Web.git">Abierto en GitHub</a>
          </div>
      {% endif %}
      {% if button_db%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/python-db.png" alt="project" width="500">
              <a class="project__link" href="https://github.com/Marilaisanchez/Bases-de-Datos.git">Abierto en GitHub</a>
          </div>
      {% endif %}
      </section>
      <!-- Formulario de contacto -->
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">FEEDBACK</h2>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="E-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Comment"></textarea>
          </label>
          <button class="form__button" type="submit">SEND</button>
        </form>
      </section>
    </main>
    <!-- Pie de página con enlaces a redes sociales -->
    <footer>
    <p>&copy; 2025 - Mi Portafolio</p>
      <div class="redes-sociales">
        <a href="https://www.instagram.com/marilaisanchez?igsh=MTJxZWsyb2lvZmc0OQ==" target="_blank">📷 Instagram</a>
      </div>
    <footer>
  </body>
</html>
